<div class="container">
  <h3 class="title text-center mt-3 border-bottom p-3">Shop by Category</h3>
    <div class="row mt-3">
      <div class="col-lg-6">
        <div class="new_product">
          <div class="product-img">
            <%= image_tag('img/fur.jpg', class:'img-fluid w-500')%>
        </div>
        <div class="product-btm">
          <p class="text-muted">Furniture & Decor</p>
        </div>
        </div>
      </div>

      <div class="col-lg-6 mt-5 mt-lg-0">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="single-product">
              <div class="product-img">
                <%= image_tag('img/men.jpg', class:'img-fluid w-100')%>
              </div>
              <div class="product-btm">
                <p class="text-muted">Mens Fashion</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="single-product">
              <div class="product-img">
                <%= image_tag('img/women.jpg', class:'img-fluid w-100')%>
              </div>
              <div class="product-btm">
                <p class="text-muted">Women's Fashion</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mt-1">
            <div class="single-product">
              <div class="product-img">
                <%= image_tag('img/child.webp', class:'img-fluid w-100')%>

              </div>
              <div class="product-btm">
                <p class="text-muted">Children Fashion</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mt-4">
            <div class="single-product">
              <div class="product-img">
                <%= image_tag('img/food.png', class:'img-fluid w-100')%>

              </div>
              <div class="product-btm">
                <p class="text-muted">Food & Beverage</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    