<style>
.card-img-top{
    border-radius: 15px;
    height: 300px;
    width: auto;
}
.carousel-inner{
    border-radius: 40px;
    padding: 2px 2px;
    height: 60vh;
}
.flex{
    display: flex;
}
.card{
    margin-left:12px;
    height: 500px;
    width: auto;
    border: 0;
}
span{
    color: #fb611b;
}
.d-block{
    object-fit: contain;
}
</style>
<style>
  .product-grid{
      background-color: #fff;
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      transition: all 0.3s ease 0s;
  }
  .product-grid:hover{ box-shadow:  0 0 20px -10px rgba(237,29,36,0.3); }
  .product-grid .product-image{
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease 0s;
  }
  .product-grid:hover .product-image{ border-radius: 0 0 30px 30px; }
  .product-grid .product-image a.image{ display: block; }
  .product-grid .product-image img{
      width: 100%;
      height: auto;
  }
  .product-image .pic-1{
      backface-visibility: hidden;
      transition: all 0.5s ease 0s;
  }
  
  
  
  .product-grid .product-links li a:hover{
      color: #fff;
      background-color: #ed1d24;
  }
  .product-grid .product-content{
      text-align: left;
      padding: 15px 10px;
  }
  .product-grid .rating{
      padding: 0;
      margin: 0 0 7px;
      list-style: none;
  }
  .product-grid .rating li{
      color: #f7bc3d;
      font-size: 13px;
  }
  .product-grid .rating li.far{ color: #777; }
  .product-grid .title{
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0 0 6px;
  }
  .product-grid .title a{
      color: #555;
      transition: all 0.3s ease 0s;
  }
  .product-grid .title a:hover{ color: #ed1d24; }
  .product-grid .price{
      color: #ed1d24;
      font-size: 18px;
      font-weight: 700;
  }
  @media screen and (max-width:990px){
      .product-grid{ margin: 0 0 30px; }
  }
</style>


 <!-- Carousel -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag('img/audi.jpg', class: "d-block w-100")%>

    </div>
    <div class="carousel-item">
        <%= image_tag('img/bmw.jpg', class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
        <%= image_tag('img/tesla.jpg', class: "d-block w-100")%>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>

<%= render 'home/features'%>
<%= render 'home/deal' %>



<%= render 'home/products' %>
<!-- After Carousel -->
<div class="py-5 bg-light mt-4 shadow ">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="row">
            <div class="col-md-4 ml-auto">
              <h2>Associated<br>Brands</h2>
            </div>
            <div class="col-md-6 mr-auto">
              <p class="lead text-dark">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab consectetur nostrum quidem provident ipsam, autem explicabo eaque incidunt ipsum quam.
              </p>
            </div>
          </div>
          <div class="row align-items-center my-md-4">
            <div class="col">
              <%= image_tag('img/nike.webp', class:'img-fluid p-md-2')%>
            </div>
            <div class="col">
                <%= image_tag('img/prada.png', class:'img-fluid p-md-2')%>
            </div>
            <div class="col">
                <%= image_tag('img/nb.png', class:'img-fluid p-md-2')%>
            </div>
            <div class="col">
                <%= image_tag('img/gucci.png', class:'img-fluid p-md-2')%>
            </div>
            <div class="col">
                <%= image_tag('img/cd.svg', class:'img-fluid p-md-2')%>
            </div>
            <div class="col">
                <%= image_tag('img/versache.png', class:'img-fluid p-md-2')%>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%= render 'home/happy_costumers' %>
<%= render 'home/trial' %>

