<div class="container mt-5 shadow">
    <main class="main" role="main">
        <div class="bg-white">

        <div class="container-fluid p-0">
            <div class="row no-gutters">
            <div class="col-12 col-sm-6 order-sm-2 bg-white d-flex justify-content-center align-items-center">
                <% if @product.image.attached? %>
                    <%= image_tag(@product.image, class:'img-fluid img-cover shadow-sm')%>
                <% else %>
                     <%= image_tag('img/product.webp', class:'img-fluid img-cover shadow-sm')%>
                <% end %>
            </div>

                <div class="col-12 col-sm-6 order-sm-1 bg-light d-flex position-relative justify-content-center align-items-center">
                    <div class="p-3 p-md-4 p-lg-8 w-100">

                    <h1 class="display-4 mb-2">Edit Products</h1>
                    <p class="lead"></p>
                    <%= form_with model: @product do |product|%>
                        <div class="input-group-lg mb-2 ">
                            <%= product.text_field :name, class:'form-control', placeholder: 'Product Name...'%>
                            <%= product.text_field :oriprice, class:'form-control mt-2', placeholder: 'Original Price...'%>
                            <%= product.text_field :disprice, class:'form-control mt-2', placeholder: 'Discounted Name...'%>
                            <%= product.text_field :brand, class:'form-control mt-2', placeholder: 'Product Brand...'%>
                            <%= product.text_field :category, class:'form-control mt-2', placeholder: 'Product Category...'%>
                            <%= product.number_field :user_id, value: current_user.id,id: 'product_user_id', type: :hidden,class: 'form-control'%>
                            <%= product.file_field :image, class:'form-control mt-2', placeholder: 'Product Image...'%>
                            <div class="input-group-append mt-3">
                            <%= product.submit 'Update Product', class: 'btn btn-primary'%>
                            <%= link_to 'Back', :back, class: 'btn btn-primary'%>
                            </div>
                        </div>
                    <% end %>
                    </div>
                </div>
                </div>
        </div>
        </div>

    </main>
</div>


