<div class="container mt-5 shadow">
    <main class="main" role="main">
        <div class="bg-white">

        <div class="container-fluid p-0">
            <div class="row no-gutters">
            <div class="col-12 col-sm-6 order-sm-2 bg-white d-flex justify-content-center align-items-center">
                <% if @product.image.attached? %>
                    <%= image_tag(@product.image, class:'img-fluid img-cover shadow-sm')%>
                <% else %>
                     <%= image_tag('img/product.webp', class:'img-fluid img-cover shadow-sm')%>
                <% end %>
            </div>

                <div class="col-12 col-sm-6 order-sm-1 bg-light d-flex position-relative justify-content-center align-items-center">
                    <div class="p-3 p-md-4 p-lg-8 w-100">

                    <h1 class="display-4 mb-2">Edit Products</h1>
                    <p class="lead"></p>
                    <%= form_with model: @product do |product|%>
                        <div class="input-group-lg mb-2 ">
                            <%= product.text_field :name, class:'form-control', placeholder: 'Product Name...'%>
                            <% if @product.errors.any? %>
                                <div class="text">
                                    <% @product.errors.full_messages_for(:name).each do |message| %>
                                        <div class="text-danger"><%= message %></div>
                                    <% end %>
                                </div>
                            <% end %>
                            <%= product.text_field :oriprice, class:'form-control mt-2', placeholder: 'Original Price...'%>
                            <% if @product.errors.any? %>
                            <div class="text">
                                <% @product.errors.full_messages_for(:oriprice).each do |message| %>
                                    <div class="text-danger"><%= message %></div>
                                <% end %>
                            </div>
                        <% end %>
                            <%= product.text_field :disprice, class:'form-control mt-2', placeholder: 'Discounted Name...'%>
                            <% if @product.errors.any? %>
                            <div class="text">
                                <% @product.errors.full_messages_for(:disprice).each do |message| %>
                                    <div class="text-danger"><%= message %></div>
                                <% end %>
                            </div>
                        <% end %>
                            <%= product.text_field :brand, class:'form-control mt-2', placeholder: 'Product Brand...'%>
                            <div class="mt-2 dropdown">
                                <%= product.select :category, options_for_select([["Women's Fashion", 1], ["Men's Fashion", 2], ['Electronics', 3], ['Other', 4], ['Select to change', 5]],  selected: 5) %>
                            </div>                      
                            <% if @product.errors.any? %>
                            <div class="text">
                                <% @product.errors.full_messages_for(:category).each do |message| %>
                                    <div class="text-danger"><%= message %></div>
                                <% end %>
                            </div>
                        <% end %>
                            <%= product.number_field :user_id, value: current_user.id,id: 'product_user_id', type: :hidden,class: 'form-control'%>
                            <%= product.file_field :image, class:'form-control mt-2', placeholder: 'Product Image...'%>
                            <div class="input-group-append mt-3">
                                <% if @product.errors.any? %>
                                <div class="text">
                                    <% @product.errors.full_messages_for(:image).each do |message| %>
                                        <div class="text-danger"><%= message %></div>
                                    <% end %>
                                </div>
                            <% end %>
                            <%= product.submit 'Update Product', class: 'btn btn-primary'%>
                            <%= link_to 'Back', :back, class: 'btn btn-primary'%>
                            </div>
                        </div>
                    <% end %>
                    </div>
                </div>
                </div>
        </div>
        </div>

    </main>
</div>


